<!DOCTYPE html>
<html>
<p id="countdown">Countdown Beginning</p>
<head>
    <title>Assignment 6</title>
</head>
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script>
  var timer = 300;
  var url = "/"
  var downloadTimer = setInterval(function () {
    document.getElementById("countdown").innerHTML = `${timer} seconds left`;
    timer -= 1;
    if (timer <= 0) {
      clearInterval(downloadTimer);
      document.getElementById("countdown").innerHTML = "The time has ended!";
      window.location.href = url;
    }
  }, 1000);
</script>
<script type="text/javascript" charset="utf-8">
    var port;
    var category;
    var appends;

    $(document).ready(function(){
        port = io.connect('http://' + document.domain + ':' + location.port + '/game');

        port.on('connect', function() {
            port.emit('join', {username: "{{username}}",  room:"{{room}}" });
        });

        port.on('status', function(data) {
            document.getElementById("chat").innerHTML = document.getElementById("chat").innerHTML+ data.msg +"<br/>";
        });

        port.on('message', function(data) {
               category = "{{category}}";
               var scores = []
               var sum = 0
               appends = data.msg.split("_")[1];
               data.msg=data.msg.split("_")[0];

               if( category == "professor" && appends == "answer")
                {
                    data.msg = data.msg+"  "+'<input type="text" id="score" name="score" placeholder="score">';
                }
                else if(category == "student" && appends == "question")
                {
                    scores.push(data.msg)
                    for(var i=0; i<scores.length;i++){
                        sum += i
                    }
                    avg = sum/scores.length
                    data.msg = data.msg+"\nis the score for your above answer" + "\n Avg Score is"+avg;
                    console.log(data.msg);
                }
                document.getElementById("chat").innerHTML = document.getElementById("chat").innerHTML+data.msg+"<br/>";

        });

        $('#send').click(function(e) {
                text = $('#text').val();
                $('#text').val('');

                if( category == "professor")
                {
                    text = text+"_question";
                }
                else if(category == "student")
                {
                    text = text+"_answer";
                }
                port.emit('text', {  msg:text, username:"{{username}}",  room:"{{room}}" });
        });

        $('#sendscore').click(function(e) {
                text = $('#score').val();
                $('#score').val('');

                if( category == "professor")
                {
                    text = text+"_question";
                }
                else if(category == "student")
                {
                    text = text+"_answer";
                }
                port.emit('text', {  msg:text, username:"{{username}}",  room:"{{room}}" });
        });




    });

</script>
<body>
<div style="text-align: center">
    <h1>Yaswanth Janardhan Konduru</h1>
    <h3>1001741845</h3>
    <p>{{username}}</p>
</div>
<div>
    <form action="{{url_for('game')}}" enctype=multipart/form-data method="POST" style="width:30%;">
        <fieldset>
            <legend>{{legend}}</legend>
            <label for="chat">{{heading}}</label>
            <div id="chat" style="border-style:groove; background-color: whitesmoke; width:500px; height:200px; margin: auto;text-align:left;"></div><br />
            <label for="text">{{subtext}}</label>
            <input type="text" id="text" name="answer"><br><br>
            <button type="button" id="send">Send</button>
            <button type="button" id="sendscore">Send Score</button>
        </fieldset>
    </form>
</div>
</body>
</html>